on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

name: Test
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-go@v5
      with:
        go-version: '^1.18'
    - run: go test -race ./...
      